{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-4">
        <h1>a35 AMG</h1>
    </div>

    <div class="col-8">
        <img src= 'assets/img/a35amg.jpg' alt="img-thumbnail">
    </div>

</div>

{{> footer}}